*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;    
}

.container{
    width: 100%;
    min-height: 100vh;
    background: url("./images/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px; 
    backdrop-filter: blur(10px);
}

.todo-app h2{
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-size: 14px; /* Fixed typo for font size */
    transition: all 0.3s ease; /* Smooth animation */
    border-radius: 30px;
}
/* 
.row:hover input {
    transform: scale(1.1); 
    background-color: #ffffff; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
} */

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

 button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
} 

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: white;
}

ul li:hover{
    color:  #ff5945;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}

ul li.checked{
    color: #ff5945;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    /* border: white solid 1px; */
}

ul li span:hover{
    background-color: #edeef0;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

ul li span:first-child {
    right: 45px; /* İlk span'ı sağdan 45px uzaklaştırarak, düzenleme ikonunu çöp kutusunun soluna koyar */
}

/* ul li span i:hover{
    
} */

 ul li span i{
    color:#ff5945;
} 